@using WebMatrix.Data;

@{
    ViewBag.Title = "Home Page";

    var db = Database.Open("Board Games");

    var sql = "SELECT * FROM BoardGame WHERE Name LIKE CONCAT(@0, '%')";


    var data = db.Query(sql, Request.Form["searchText"]);


}

<div class="py -1 mt-2 bg-light text-center">
    <h2 class="text-center">Index Page</h2>
</div>

<form method="get" action="/Home/Index" class="row">
    <div class="col-3"><input type="text" name="searchText" id="searchText" class="form-control" placeholder="Search Board Game Information" value="@Request.Form["searchText"]" /></div>
    <div class="col-2"><button type="submit" class="btn btn-primary">Search</button></div>
</form>

<!--Display table-->
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Year Published</th>
            <th scope="col">Minimum Players</th>
            <th scope="col">Maximum Players</th>
            <th scope="col">Com Age Rec</th>
            <th scope="col">Language Ease</th>
            <th scope="col">Family</th>

        </tr>
    </thead>
    <tbody>
        @foreach
            {
                <tr>
                    <td>@g.Name</td>
                    <td>@g.Description</td>
                    <td>@g.YearPublished</td>
                    <td>@g.MinimumPlayers</td>
                    <td>@g.MaximumPlayers</td>
                    <td>@g.ComAgeRec</td>
                    <td>@g.LanguageEase</td>
                    <td>@g.Family</td>
                </tr>
            }
        </tbody>
    </table>
            
        
      

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>
</main>