@using WebMatrix.Data;

@{
    ViewBag.Title = "Home Page";

    var db = Database.Open("BoardGame");

    var sql = "SELECT * FROM BoardGame WHERE Name LIKE CONCAT(@0, '%')";


    var data = db.Query(sql, Request["searchText"]);


}

<div class="py -1 mt-2 bg-light text-center">
    <h2 class="text-center">Index Page</h2>
</div>

<form method="get" action="/Home/Index" class="row">
    <div class="col-3"><input type="text" name="searchText" id="searchText" class="form-control" placeholder="Search Board Game Information" value="@Request.Form["searchText"]" /></div>
    <div class="col-2"><button type="submit" class="btn btn-primary">Search</button></div>
</form>

<!-- Toggle Button -->
<div class="theme-toggle">
    <button id="toggleBtn" class="btn btn-secondary" onclick="toggleTheme()"><b>Switch to Card View</b></button>
</div>

<!--Display table mode-->
<div id="tableView">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Year Published</th>
                <th scope="col">Minimum Players</th>
                <th scope="col">Maximum Players</th>
                <th scope="col">Com Age Rec</th>
                <th scope="col">Language Ease</th>
                <th scope="col">Family</th>

            </tr>
        </thead>
        <tbody>
            @if (data != null)
            {
                foreach (var g in data)
                {
                    <tr>
                        <td>@g.Name</td>
                        <td>@g.Description</td>
                        <td>@g.YearPublished</td>
                        <td>@g.MinPlayers</td>
                        <td>@g.MaxPlayers</td>
                        <td>@g.ComAgeRec</td>
                        <td>@g.LanguageEase</td>
                        <td>@g.Family</td>

                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8" class="text-center text-danger">No board games found</td>
                </tr>

            }

        </tbody>
    </table>
</div>

<!-- Card View (hidden by default)-->
<div id="cardView">
    <div class="card" style="width: 18rem;"></div>
        @if (data != null)
        {
            foreach (var g in data)
            {
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                        <p class="card-text small text-muted">@g.Description</p>
                            <ul class="list-unstyled mb-2">
                                <li>Year Published:@g.YearPublished</li>
                                <li>Min players:@g.MinPlayers</li>
                                <li>Max Players:@g.MaxPlayers</li>
                                <li>Language Ease:@g.LanguageEase</li>
                                <li>Family:@g.Family</li>
                            </ul>
                </div>
   
            }
        }
        else
        {
            <div class="col-12 text-center text-danger">No board games found</div>
        }
</div>
        
<script>

    //This function switches betwen table and card view
    function toggleTheme() {
        const tableView = document.getElementById("tableView");
        const cardView = document.getElementById("cardView");
        const btn = document.getElementById("toggleBtn");

            if (tableView.style.display === 'none') {
                tableView.style.display = 'block';
                cardView.style.display = 'none';
                btn.innerHTML = "<b>Switch to Card View</b>";
            } else {
                tableView.style.display = 'none';
                cardView.style.display = 'flex';
                btn.innerHTML = "<b>Switch to Table View</b>";
            }

    }
    
</script>
